# Compiled class files
*.class

# Log files
*.log

# Compiled Java bytecode
*.jar

# Compiled Java source files
*.class

# IntelliJ project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# Maven build directory
target/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Add hibernate.properties to the ignore list
hibernate.properties
*.db

# Add config.properties to the ignore list
config.properties

# Ignore vscode config folder
.vscode