#title {
    -fx-alignment: center;
}
#center {
    -fx-spacing: 2px;
    -fx-border-color: #575dfb;
    -fx-background-color: #f4f4f4;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-max-height: 200px;
    -fx-alignment: TOP_CENTER;
}
.label {
    -fx-font-weight: bold;
    -fx-text-fill: grey;
    -fx-text-alignment: center;
    -fx-alignment: center;
}
#bottomNote {
    -fx-font-weight: normal;
    -fx-padding: 40px, 0, 0, 0;
}
#infoBox {
    -fx-spacing: 10px;
    -fx-min-height: 200px;
}
#reviewBox {
    -fx-spacing: 25px;
}
