.custom-pane{
    -fx-background-color: #f4f4f4;

    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    
    /* get it to fill the entire screen */
    -fx-max-width: 10000;
    -fx-max-height: 10000;

    -fx-alignment: center;
    -fx-hgap: 0;
    -fx-vgap: 0;

    -fx-font-size: 16;

    -fx-min-width: 300;
    -fx-min-height: 300;
}