/* duplicate css styles for custom-pange located in: [login.css, register.css] */
.custom-pane {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #575dfb;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 5;
    -fx-padding: 20;

    -fx-pref-width: 250;
    -fx-pref-height: 400;
    -fx-max-width: 250;
    -fx-max-height: 600;

    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 10;

    -fx-font-size: 16;
}

.login-field{
    -fx-font-size: 20;
    -fx-border-color: #575dfb;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 10;
}

.big-button{
    -fx-background-color: #2f35f4;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 20 1;

    /* SET WIDTH TO MAX, and item to center */
    -fx-max-width: Infinity;
    -fx-alignment: center;

}

.big-button:hover{
    -fx-background-color: #3f45f4;
}

.big-button:pressed{
    -fx-opacity: 0.8;
}

.forgot-password-button{
    -fx-font-size: 15;
    -fx-text-fill: #575dfb;
    -fx-font-weight: bold;

    /* underline */
    -fx-underline: true;

    /* colour */
    -fx-text-fill: #575dfb;

    /* remove button border */
    -fx-background-color: transparent;

    /* align to left */
    -fx-alignment: center-left;
}

/* register text & link styles */
.register-text {
    -fx-font-size: 15;
    -fx-text-fill: #000000;
}

.register-link {
    -fx-font-size: 15;
    -fx-text-fill: #575dfb;
    -fx-font-weight: bold;
}

.register-text:hover {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.register-link:hover {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.register-text:pressed {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.register-link:pressed {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.error-label{
    -fx-font-size: 15;
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}