/* duplicate css styles for custom-pange located in: [login.css, register.css] */
.custom-pane {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #575dfb;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-background-radius: 5;
    -fx-padding: 20;
    
    -fx-min-width: 500;
    -fx-pref-width: 1000;
    -fx-pref-height: 600;
    -fx-max-width: 1600;
    -fx-max-height: 1000;

    -fx-alignment: center;
    -fx-hgap: 10;
    -fx-vgap: 10;

    -fx-font-size: 16;
}

/* back to login page text & link styles */
.login-text {
    -fx-font-size: 15;
    -fx-text-fill: #000000;
}

.login-link {
    -fx-font-size: 15;
    -fx-text-fill: #575dfb;
    -fx-font-weight: bold;
}

.login-text:hover {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.login-link:hover {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.login-text:pressed {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.login-link:pressed {
    -fx-text-fill: #575dfb;
    -fx-underline: true;
}

.error-label{
    -fx-font-size: 15;
    -fx-text-fill: #ff0000;
    -fx-font-weight: bold;
}

.patientInfoCols{
    -fx-alignment: center;
    -fx-spacing: 10;
}

.patientInfoFields{
    -fx-font-size: 15;
    -fx-border-color: #575dfb;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 20;
    
    /* set hgap, but no vgap because we don't have more than 1 row in our parent hbox */
    -fx-spacing: 20;
}